/* page-header
******************************************/


.page-header {
  background: url('../img/stardust.png');
}

@-webkit-keyframes stars{
  from{ background-position: 100% 100%;}
  to{ background-position: 100% 0%; }
}

.page-header__wrapper {
  @include wrapper;
  padding-top: 10px;
}
