// -----------------------------------------------------------------------------
// application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'PTSans', sans-serif;
$base-font-size: 14;

/// Code (monospace) font family
/// @type List

/* navigation elemets backgrounds */
$nav-color: #81b3d2;
$nav-text-color: #fff;

$reason-bgcolor: #81b3d2;



$item_active: #23b7a4;

$nav--font-color: #a4aead;
$nav--border-color: #a4aead;

$nav--font-color__active: #23b7a4;
$nav--border-color__active: #23b7a4;


$h-color: #292f36;

